/hugo
docs/public*
/.idea
hugo.exe
*.test
*.prof
nohup.out
cover.out
*.swp
*.swo
.DS_Store
*~
vendor/*/
*.bench
*.debug
coverage*.out

dock.sh

GoBuilds
dist

resources/sunset.jpg

vendor

/public

#Ignore node_modules
node_modules
package-lock.json
